<!DOCTYPE HTML>
<html>
<head>
    <title>SpringTraining: Greeting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, User!</div>
<a href="/main">Главная страница</a>
</body>
</html>